<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript" src="/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
 
    // gitalk的主要参数
        clientID: 'c66603e30b7b58583894',
        clientSecret: 'aacc3065b21d7025737e0b620eda5ab2ce9ef440',
        repo: 'https://chivas-regal.github.io',
        owner: 'Chivas-Regal',
        admin: ['Chivas-Regal'],
        id: md5(location.pathname),
        
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
